<h1>POST request recieved</h1>

{{!if data lsit is not empty render a table}}
{{#if qDataList}}
	<table style="border: 1px solid black">
		<caption>Query Variables</caption>
		<tr>
			<th style="border: 1px solid black">Key</th>
			<th style="border: 1px solid black">Value</th>
		</tr>
		{{#each qDataList}}
			<tr>
				<td style="border: 1px solid black">{{this.name}}</td>
				<td style="border: 1px solid black">{{this.value}}</td>
			</tr>
		{{/each}}
	</table>
	<br></br>
{{/if}}

{{#if bDataList}}
	<table style="border: 1px solid black">
		<caption>Body Variables</caption>
		<tr>
			<th style="border: 1px solid black">Key</th>
			<th style="border: 1px solid black">Value</th>
		</tr>
		{{#each bDataList}}
			<tr>
				<td style="border: 1px solid black">{{this.name}}</td>
				<td style="border: 1px solid black">{{this.value}}</td>
			</tr>
		{{/each}}
	</table>
{{else}}
	<h1>dataList is empty</h1>
{{/if}}
